html{
  background-color:black;
}
canvas {
  border: 1px;
  height: 100px;
  width: 100%;
}
details{
  color:white;
}
h1{
  font-family:Arial;
  color:white;
}
label{
  color:white;
  font-family:Arial;
}
#content {
  margin-left:auto;
  margin-right:auto;
  margin-top:15%;
  margin-bottom:auto;
  width:50%;
}
#restart{
  font-family:Arial;
  color:white;
  font-size:10;
}
#head{
  color:white;
  font-family:Arial;
}
#head_title{
  font-size:50px;
  text-shadow:0 0 10px #ffffff;
}
#head_sub{
  margin-top:-3%;
  padding-left:5%;
  text-shadow:0 0 5px #ffffff;
  font-size:20px;
}
#win{
  color:white;
  font-family:Arial;
}
#right_footer{
  float:right;
  text-align:right;
}
#left_footer{
  float:left;
  text-align:left;
}
#completed{
  font-family:Arial;
  color:white;
}
