html{
  background-color:black;
}
canvas {
  border: 1px;
  height: 100px;
  width: 100%;
}
.content {
  margin-left:auto;
  margin-right:auto;
  margin-top:15%;
  margin-bottom:auto;
  width:50%;
}
h1{
  font-family:Arial;
  color:white;
}
.restart{
  font-family:Arial;
  color:white;
  font-size:10;
}
details{
  color:white;
}
.head{
  background-color:black;
}
label{
  color:white;
  font-family:Arial;
}
.win{
  color:white;
  font-family:Arial;
}
#right_footer{
  float:right;
  text-align:right;
}
#left_footer{
  float:left;
  text-align:left;
}
#completed{
  font-family:Arial;
  color:white;
}
